body {
    background-image: url("homer.jpg");
    font-family: 'Coiny', cursive;
}

.container{
	height:455px;
	width:1000px;
	position:absolute;
	top:50%;
	left:50%;
	transform: translateX(-50%) translateY(-50%);
	background: rgba(255,255,255,0.7);
	padding:20px;
	border:1px solid #08038C;
}

.title{
	padding-top: 20px;
	text-align: center;
	font-size:37px;
}

.option{
	width:470px;
	display:inline-block;
	padding: 10px 0 10px 15px;
	vertical-align: middle;
	background: rgba(255, 255, 255, 0.7);
	margin:10px 0 10px 10px;
	color:#000000;
	border-radius: 20px;
}

.option:hover{
	background: #FFFF00;
	color: #000000;
}
.timer{
	color:red;
	font-size: 35px;
}